// Place all the styles related to the mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.waves-effect.waves-light.btn{
    margin-bottom: 30px;
    margin-left: 10px;
}

.collapsible-header{
    font-size: 100%;
    
}

.collapsible-body{
    font-size: 90%;
    
}

.subtitle{
    font-weight: bold;
    
}

#tmpost{
    font-weight: bolder;
    
}

#mspost{
    font-weight: bolder;
    
}

#comment{
    font-weight: bolder;
    
}

.teamname{
    
    font-weight: bolder;
}

.teamleader{
    
    font-weight: bolder;
}

