// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pre-line{
    
    white-space: pre-line;
}


.write_comment{
    
    
    padding-top: 3%;
    margin-left: 50px;   
    margin-right: 50px;
}
